
<div class="container my-5">
    <h2>Add New User</h2>
    <form #myform="ngForm" (ngSubmit)="addUser()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Name" name="name" [(ngModel)]="addUserRequest.username">
              </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Password</label>
            <input type="password" class="form-control" id="inputEmail4" placeholder="password" name="email" [(ngModel)]="addUserRequest.password">
          </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">User Role</label>
            <select id="inputState" name="department" class="form-control" [(ngModel)]="addUserRequest.userRole">
              <option name="department" selected>Choose...</option>
              <option name="department" >Student</option>
              <option name="department">Teacher</option>
    
    
    
    
            </select>
          </div>
       
    
        <a type="submit" routerLink="/student/add" class="btn btn-primary mt-2">Add User</a>
      </form>
    
    </div>