
<div class="container my-5">
    <h2>Add New Student</h2>
    <!-- {{addStudentRequest| json}}<br> -->
    
    <form #myform="ngForm" (ngSubmit)="addStudent()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Name" name="name" [(ngModel)]="addStudentRequest.studentName">

              </div>
           
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" id="inputPassword4" placeholder="email" name="email" [(ngModel)]="addStudentRequest.studentEmail">

              </div>

              <div class="form-group col-md-6">
                <label for="inputPassword4">Phone Number</label>
                <input type="number" class="form-control" placeholder="number" name="studentPhone" [(ngModel)]="addStudentRequest.phoneNumber">

              </div>
              <!-- <p>{{addStudentRequest.phoneNumber}}</p> -->
          <div class="form-group col-md-6">
            <label>Date of Birth</label>
            <input type="date" class="form-control"  placeholder="Date of Birth" name="dob" [(ngModel)]="addStudentRequest.studentDob">


          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Student District</label>
          <input type="text" class="form-control" id="" name="studentDistrict"  [(ngModel)]="addStudentRequest.studentDistrict">
        </div>
        <div class="form-group">
            <label for="inputAddress">Student Place</label>
            <input type="text" class="form-control" name="studentPlace"   [(ngModel)]="addStudentRequest.studentPlace">
          </div>

          <div class="form-group col-md-4">
            <label for="inputState">Student Department</label>
            <select id="inputState" name="departmentId" class="form-control" [(ngModel)]="addStudentRequest.departmentId">

          <option name="departmentId"  *ngFor="let item of departments" value="{{item.id}}">{{item.departmentName}}</option>

            </select>
          </div>
        <div class="form-group col-md-4">
            <label for="inputState">Student Status</label>
            <select id="inputState" name="department" class="form-control" [(ngModel)]="status">
              <option name="department" selected>Choose...</option>
              <option name="department" value="true">Active</option>
              <option name="department" value="false">Inactive</option>
            
            </select>
          </div>
      
       
    
        <button type="submit" class="btn btn-primary mt-2">Add Student</button>
      </form>
    
    </div>